@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --red: #d01c28;
   --gray: #2e2e2e;
}

* {
   margin: 0;
   padding: 0
}

body {
   font-family: "Poppins";
}

button {
   all: unset;
}

.container {
   max-width: 1440px;
   margin-inline: auto;
}

.navbar {
   display: flex;
   justify-content: space-between;
   padding: 0px 40px;
   align-items: center;
   font-weight: 600;
   height: 72px;
}

.menuItems ul {
   display: flex;
   list-style: none;
   gap: 24px;
   font-size: 16px;
   /* font-weight: 400; */
   color: var(--gray);
}

.LoginButton {
   padding-inline: 16px;
   background-color: var(--red);
   color: white;
   border-radius: 3px;

}